body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.current_keycode::before, .current_word::before {
  content: '>';
  position: absolute;
  transform: rotate(90deg) translateX(-0.7em);;
  transform-origin: right;
}

.current_word {
  display: inline-block;
  margin-top: 0.8em;
}

.row-current-progress {
  margin-top: 3em;
}
