<!DOCTYPE html>
<html>
  <head>
    <title>倉頡練習</title>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="cj_exercise">
    <div class="app" ng-controller="appController">
      <div class="current_word">
        <div class="word">
          {{ currentword }}
        </div>
        <div class="cjcode" ng-keypress="appKeyPressed()">
          {{ currentword | cjcode | keycode | progress: currentword_progress }}
        </div>
      </div>
      <div class="exercise_area">
        <div class="exercise_text">
          {{ currenttext | progress: currenttext_progress }}
        </div>
        <div class="input_area">
          <textarea ng-model="input_text"></textarea>
          <button ng-click="inputTextButtonClick()">練習</button>
        </div>
      </div>
    </div>
  </body>
</html>
